/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --bg-col:#fff;
  --button-col:#fff;
  --size-lebl: 14px;
  --text-weight: 400;
  --title-weight: 700;
  --accent-col:#000;
  --head-fonsize: clamp(3.063rem, 2.71rem +1.502vw, 4.063rem);
  --bg-image:
    repeating-linear-gradient(90deg,#d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(180deg,#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --sparks-color: #ff0000;
  --floppy-color: #fff;
}

:root.theme-dark {
  --bg-image:
    repeating-linear-gradient(90deg,#000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg,#000 0 2px, transparent 2px 4px),
    linear-gradient(180deg,#007f0c 0%,#007f0c 0.01%,#004306 100%);
  --size-lebl: 14px;
  --text-weight: 465;
  --title-weight: 785;
  --bg-col:#000;
  --button-col:#00CC14;
  --accent-col:#00CC14;
  --head-fonsize: clamp(3.063rem, 2.71rem +1.502vw, 4.063rem);
  --sparks-color: #ff0000;
  --floppy-color: #00CC14;
}

@media (prefers-color-sheme:dark) {
  :root {
    --bg-image:
      repeating-linear-gradient(90deg,#000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(180deg,#000 0 2px, transparent 2px 4px),
      linear-gradient(180deg,#007f0c 0%,#007f0c 0.01%,#004306 100%);
    --size-lebl: 14px;
    --text-weight: 465;
    --title-weight: 785;
    --bg-col:#000;
    --button-col:#00CC14;
    --accent-col:#00CC14;
    --head-fonsize: clamp(3.063rem, 2.71rem +1.502vw,4.063rem);
    --sparks-color: #ff0000;
    --floppy-color: #00CC14;
    --button-col: #00CC14;
  }
}
@media (prefers-color-sheme:light) {
  :root {
    --bg-col:#fff;
    --button-col:#fff;
    --size-lebl:14px;
    --text-weight: 400;
    --title-weight:700;
    --accent-col:#000;
    --head-fonsize: clamp(3.063rem, 2.71rem +1.502vw,4.063rem);
    --bg-image:
      repeating-linear-gradient(90deg,#d3d3d3 0 2px, transparent 2px 4px), 
      repeating-linear-gradient(180deg,#d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
      --sparks-color: #ff0000;
      --floppy-color: #fff;
      --button-col: #fff;
  }
}
